
// CSS du caroussel
.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
   }
   
   .image {
     width: 1000px;
     height: 600px;
   }
   
   .right-arrow {
     position: absolute;
     top: 50%;
     right: 32px;
     font-size: 3rem;
     color: black;
     z-index: 10;
     cursor: pointer;
     user-select: none;
   }
   
   .left-arrow {
     position: absolute;
     top: 50%;
     left: 32px;
     font-size: 3rem;
     color: black;
     z-index: 10;
     cursor: pointer;
     user-select: none;
   }
   
   .slide {
     opacity: 0;
     transition-duration: 1s ease;
   }
   
   .slide.active {
     opacity: 1;
     transition-duration: 1s;
     transform: scale(1.08);
   }

@media screen and (max-width:500px) {
    .img {
        height: 100vh;
        width: 100vh;
        object-fit: cover;
    }
}



// CSS de boogiink et ladypiercing
.logos {
    display: flex;
    justify-content: space-around;
}

@font-face {
    font-family: 'Vegan Style Personal Use';
    src: local('Vegan Style Personal Use.ttf'),
    url("../../assets/fonts/Vegan Style Personal Use.ttf")
    }

.boogi-ink-logo {
    display: block;
    text-align: center;

    .boogi-ink-logo-fonts {
        font-family: 'Vegan Style Personal Use';
        font-size: 2.5rem;
    }
}

@font-face {
    font-family: 'Stayola';
    src: local('Stayola.ttf'),
    url("../../assets/fonts/Stayola.ttf")
    }

.lady-piercing-logo {
    display: block;
    text-align: center;

    .lady-piercing-logo-fonts {
        font-family: 'Stayola';
        font-size: 2.5rem;
    }
}

// CSS salon

.presentation-salon {
    margin: 5rem;
    display: block;
    justify-content: center;

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    p {
        text-align: justify;
    }

    h1 {
        font-family: 'Raleway';
        font-weight: bold;
    }
}

.coordonnees-salon {
    margin: 5rem;
    display: block;
    justify-content: center;

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    p {
        text-align: justify;
    }
}