.tattoo-welcome {
    margin-top: 3em;
    margin-bottom: 2em;
    text-shadow: 2px 1px 1px rgb(27, 189, 219);
    letter-spacing: 0.2rem;
}

.tattoer-name {
    font-family: "Vegan Style Personal Use";
    text-shadow: 2px 1px 1px black;
    color: rgb(27, 189, 219);
    font-weight: 500;
    padding-left: 0.5rem;
}

.presentation-tattoer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    margin-top: 4rem;

    @media screen and (max-width: 624px) {
        display: block;
        text-align: center;
        margin-top: 0;
    }

    .tattoer-picture {
        box-shadow: 0 0 10px 0 rgb(27, 189, 219);
        border-radius: 30%;
        width: 20rem;
        height: 26rem;
    }

    .tattoer-description {
        //color: rgb(27, 189, 219);
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
        width: 50vw;
        padding-left: 8rem;

        @media screen and (max-width: 624px) {
            width: 100vw;
            padding: 2rem;
            font-size: 1rem;
            text-align: justify;
        }
    }
}

.gallery-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 6rem;
    font-style: italic;
}

.tattoo-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 4rem auto;
    align-items: center;
    justify-items: center;
    max-width: 100vh;
    width: 90%;

    @media screen and (max-width: 940px) {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 624px) {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }

    .tattoo-gallery-link {
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0 0 15px 0 rgb(27, 189, 219);
        border-radius: 15%;
    }

    img:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }
}

.tattoo-gallery-button {
    display: flex;
    justify-content: center;
    margin: 2rem 0 5rem 0;

    .tattoo-gallery-button-left, .tattoo-gallery-button-right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: rgb(27, 189, 219);
        color: black;
        font-size: 2rem;
        font-weight: 500;
        margin: 0 4rem 0 4rem;
        cursor: pointer;
    }

    .tattoo-gallery-button-number {
        display: flex;
        justify-content: center;

        .tattoo-gallery-button-number-1,
        .tattoo-gallery-button-number-2,
        .tattoo-gallery-button-number-3 {
            display: flex;
            justify-content: center;
            align-items: center;
            vertical-align: auto;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: rgb(27, 189, 219);
            color: black;
            font-size: 2rem;
            font-weight: 500;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0 0.3rem 0 0.3rem;
            cursor: pointer;
        }
    }
}

.tattoo-FAQ {
    border-top: 1px solid rgb(27, 189, 219);
    max-width: 964px;
    margin: 6rem auto;
    width: 90%;

    .FAQ-title {
        font-size: 2rem;
        font-weight: 500;
        margin-top: 6rem;
        font-style: italic;
    }

    .FAQ-subtitle {
        font-size: 1rem;
        margin-bottom: 4rem;
        font-style: italic;
    }

    .FAQ-intro {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .FAQ-question {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
        margin-top: 4rem;
    }

    .question {
        text-transform: uppercase;
        background-color: rgba(66, 66, 66, 1);
        border: 1px solid white;
        text-align: center;
        padding: 1rem;
    }

    .FAQ-answer {
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 940px) {
    .question {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 624px) {
    .question {
        font-size: 0.7em;
    }
}
