.visitor-book-title {
    letter-spacing: 0.2rem;
}

.visitor-book-container {
    margin-top: 4rem;


    .visitor-book-comment {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #e6e6e6;
        padding: 2rem;
        border-radius: 0.5rem;
        width: 60%;
        margin: 3rem auto;
        position: relative;
    }

    .visitor-book-comment-date {
        font-weight: 300;
        margin-bottom: 2rem;
    }

    .visitor-book-comment-text {
        margin-bottom: 2rem;
        text-align: center;
    }

    .visitor-book-comment-service {
        font-weight: 300;
        text-transform: uppercase;
    }

    .visitor-book-comment-link {
        font-size: 1rem;
        text-decoration: underline;
        cursor: pointer;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin: 2rem 0 5rem 0;
        
        .pagination-number {
            display: flex;
            justify-content: center;
            align-items: center;
            vertical-align: auto;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            color: black;
            font-size: 2rem;
            font-weight: 500;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0 0.3rem 0 0.3rem;
            cursor: pointer;
        }

        .pagination-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            color: black;
            font-size: 2rem;
            font-weight: 500;
            margin: 0 4rem 0 4rem;
            cursor: pointer;
        }
    }

}

.formContainer {
    width: 70%;
    margin: 0 auto;
    margin-top: 4rem;

    @media (max-width: 1264px) {
        width: 100%;
    }
}

.visitor-book-subtitle {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 6rem;
    font-style: italic;
}

fieldset {
    border: 1px solid #ccc;
    padding: 0.35em 0.625em 0.75em;
    margin: 0 auto;
    border-radius: 0.5rem;
    width: 30%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 2rem;
}

fieldset legend {
    width: auto;
    padding: 0 10px;
}

.radio {
    display: flex;
    justify-content: space-around;

    @media (max-width: 1264px) {
        flex-direction: column;
        line-height: 2rem;
        margin-top: -1rem;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        line-height: 2rem;
        margin-top: -1rem;
    }
}

.rating {
    padding: 1rem;
    margin-bottom: 1rem;
}

input[type="date"] {
    width: 60%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

.send {
    width: 10%;
}