.lady-piercing-welcome {
    margin-top: 3em;
    margin-bottom: 2em;
    text-shadow: 2px 1px 1px rgb(240, 0, 180);
    letter-spacing: 0.2rem;
}

.lady-piercing-name {
    font-family: "Stayola";
    font-size: 1.5em;
    color: rgb(240, 0, 180);
    text-shadow: 2px 1px 1px black;
    font-weight: 500;
    padding-left: 0.5rem;
}

.presentation-lady-piercing {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 0.1rem;
    line-height: 1.5;

    @media screen and (max-width: 624px) {
        display: block;
        text-align: center;
        margin-top: 0;
    }

    .lady-piercing-picture {
        box-shadow: 0 0 10px 0 rgb(240, 0, 180);
        border-radius: 30%;
        width: 25rem;
        height: 25rem;

        @media screen and (max-width: 940px) {
            width: 18rem;
            height: 18rem;
        }
    }

    .lady-piercing-description {
        //color: rgb(240,0,180);
        font-size: 1.5rem;
        font-weight: 500;
        width: 50vw;
        padding-left: 8rem;

        @media screen and (max-width: 940px) {
            width: 100vw;
            padding: 2rem;
            font-size: 1rem;
            text-align: justify;
        }
    }

    @media screen and (max-width: 940px) {
        flex-direction: column;
    }
}

.lady-piercing-service-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    margin: 8rem auto;
    border-top: 1px solid rgb(240, 0, 180);
    max-width: 80vh;

    .lady-piercing-service-list-title {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 2rem;
        font-style: italic;
    }

    .lady-piercing-service-list-content-category {
        color: rgb(240, 0, 180);
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
        text-decoration: underline;
        text-shadow: 2px 1px 1px black;
        margin-top: 2rem;
    }

    .lady-piercing-service-list-content-list {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 2.5rem;
    }
}

.gallery-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 6rem;
    font-style: italic;
}

.piercing-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    margin: 4rem auto;
    align-items: center;
    justify-items: center;
    max-width: 100vh;
    width: 90%;

    @media screen and (max-width: 940px) {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }

    @media screen and (max-width: 624px) {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }
    .piercing-gallery-link {
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0 0 15px 0 rgb(240, 0, 180);
        border-radius: 10%;
    }

    img:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }
}

// .piercing-gallery-link>img {
//     width: 100%;
//     height: 50vh;
//     object-fit: cover;
//     box-shadow: 0 0 15px 0 rgb(240, 0, 180);
// }

.lady-piercing-gallery-button {
    display: flex;
    justify-content: center;
    margin: 2rem 0 5rem 0;

    .lady-piercing-gallery-button-left,
    .lady-piercing-gallery-button-right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: rgb(240, 0, 180);
        color: black;
        font-size: 2rem;
        font-weight: 500;
        margin: 0 4rem 0 4rem;
        cursor: pointer;
    }

    .lady-piercing-gallery-button-number {
        display: flex;
        justify-content: center;

        .lady-piercing-gallery-button-number-1,
        .lady-piercing-gallery-button-number-2,
        .lady-piercing-gallery-button-number-3 {
            display: flex;
            justify-content: center;
            align-items: center;
            vertical-align: auto;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: rgb(240, 0, 180);
            color: black;
            font-size: 2rem;
            font-weight: 500;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0 0.3rem 0 0.3rem;
            cursor: pointer;
        }
    }
}

.FAQ {
    border-top: 1px solid rgb(240, 0, 180);
    max-width: 964px;
    margin: 6rem auto;
    width: 90%;

    .FAQ-title {
        font-size: 2rem;
        font-weight: 500;
        margin-top: 6rem;
        font-style: italic;
    }

    .FAQ-subtitle {
        font-size: 1rem;
        margin-bottom: 4rem;
        font-style: italic;
    }

    .FAQ-intro {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .FAQ-question {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
        margin-top: 4rem;
    }

    .question {
        text-transform: uppercase;
        background-color: rgba(66, 66, 66, 1);
        border: 1px solid white;
        text-align: center;
        padding: 1rem;
    }

    .FAQ-answer {
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}
