.header-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
       //background-image: url(./images/tattoo-banner.jpg);
       
}

@media screen and (max-width:500px) {
   .header-img {
    padding-top: 90px;
   }
}
