.footer {
  display: flex;
  flex-direction: column;
  color: white;
}

a {
  color: white;
}

.footer-salon {
  display: flex;
  justify-content: center;
  letter-spacing: 0.1rem;

  .coordonnees-salon {
    margin: 3rem auto 4rem;
    border: 1px solid white;
    border-radius: 15px;
    padding: 1.5rem;

    .footer-salon-contact-details {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footer-salon-title {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }

    .footer-salon-adresse {
      font-size: 0.9rem;
      margin-bottom: auto;
    }

    .footer-salon-ville {
      font-size: 0.9rem;
      margin-bottom: auto;
    }

    .footer-salon-telephone {
      font-size: 0.9rem;
      margin-bottom: auto;
    }

    .footer-salon-mail {
      font-size: 0.9rem;
      margin-bottom: auto;
    }

    @media (max-width: 385px) {
      display: none;
    }
  }

  .coordonnees-salon:hover {
    box-shadow: 0 0 10px 0 white;
  }
}


.footer-info {
  display: flex;
  justify-content: center;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8rem;

  @media (max-width: 764px) {
    margin: 0 1rem;
  }

  @media (max-width: 430px) {
    flex-direction: column;
  }

  .footer-info-left,
  .footer-info-center,
  .footer-info-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    width: 300px;

    @media (max-width: 430px) {
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
  }

  .footer-info-right {
    line-height: 5rem;
  }

  .footer-info-left>a,
  .footer-info-center>a {
    font-size: 1rem;
  }

  .footer-info-right>a {
    font-size: 3rem;
  }
}