@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.App {
  color: white;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  letter-spacing: 0.1rem;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 7%, rgba(25,22,24,1) 35%, rgba(33,28,28,1) 63%, rgba(23,14,14,1) 94%);
}