.header {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    font-size: 1.3rem;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    height: 10%;

}

.header .nav-menu a {
    color: #ffffff;
}

.header .nav-menu {
    display: flex;
    padding: 0;
}

.header .nav-item {
    padding: 25px;
    font-weight: 500;
    width: auto;
}

.header .nav-item a:hover {
    padding-bottom: 12px;
    color: black;
}

.hamburger {
    display: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

// Sous-menu
.link-salons {
    position: relative;
   
    .dropdown-content {
      display: none;
      background-color: black;
      position: absolute;
      width: 250px;
      padding: 20px;
    }

    &:hover {
      
      .dropdown-content {
        display: flex;
        justify-content: center;
        z-index: 5;

        li {
          color: white;
          letter-spacing: -1px;
          font-size: 1em;
          text-align: left;

          &:hover {
            cursor: pointer;
            color: white;

            .link-component {
              color: white;
            }
          }
        }
      }
  }
  }
    


@media screen and (max-width:940px) {
    .header {
        max-width: 100%;
        background-color: rgba(0,0,0,.9);
        height: 10vh;
    }

    .header .navbar {
        width: 100vw;
        padding: 40px;
    }

    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 85px;
        flex-direction: column;
        background-color: rgba(0,0,0,.9);
        width: 100%;
        height: 90vh;
        z-index: 999;
        text-align: left;
        transition: .3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 0.5rem 1rem;
    }

    .nav-item:hover{
        cursor: pointer;
        color: black;
    }
}








